body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 20px;
}

.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p#feedback {
  color: green;
  font-weight: bold;
}
.skip-button {
  padding: 8px 16px;
  border: none;
  align-self: flex-end;
  background-color: red;
  color: white;
  left: 100px;
  border-radius: 4px;
  cursor: pointer;
}
